<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Enseignant - SystemPresence</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="dashboard-body">

    <div class="dashboard-wrapper">
        
        <nav class="sidebar">
            <div class="sidebar-header">
                <h3>SystemPresence</h3>
                <p>Espace Chef de Département</p>
            </div>
        </nav>

    <div class="main-content">
            <header class="topbar">
                <h2>Nouvel Enseignant</h2>
                <div class="user-area">
                    <span class="user-name">{{ session.get('prenom', 'Admin') }}</span>
                    <a href="{{ url_for('manage_teachers') }}" class="btn-logout-pro" style="border-color: #bdc3c7; color: #7f8c8d;">Retour</a>
                </div>
            </header>

        <div class="main-content">
            <section class="content-body">
                <div class="form-container" style="max-width: 600px; margin: 50px auto;">
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}

                    <form action="" method="POST" style="background: white; padding: 30px; border-radius: 8px;">
                        <h2>Créer un compte Enseignant</h2>
                        <br>

                        <div class="input-group">
                            <label>Nom</label>
                            <input type="text" name="nom" required>
                        </div>

                        <div class="input-group">
                            <label>Prénom</label>
                            <input type="text" name="prenom" required>
                        </div>

                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="prof@ecole.com" required>
                        </div>

                        <div class="input-group">
                            <label>Mot de passe provisoire</label>
                            <input type="text" name="password" value="pass1234" required>
                        </div>
                        <button type="submit" class="btn-login">Créer le compte</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
</body>
</html>